.About{
	margin: 25rem 0 0 0;

	@include gl(){
		margin: 10rem 0 0 0;
	}

	@include des(){
		margin: 20rem 0 0 0;
	}

	@include middle(){
		margin: 10rem 0 0 0;
	}
	
	@include tab(){
		margin: 7rem 0 0 0;
	}
	
	@include mob(){
		margin: 7rem 0 0 0;
	}
	

	&-container{
		position: relative;
		padding: 0 40px 0 40px;

		@include mob(){
			margin: 0;
			padding: 0;
		}

		.About-img{
			max-width: 45rem;
			min-width: 30rem;
			opacity: 0.7;
			transition: all 0.3s ease-in-out;
			border-radius: 10px;
			box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.164);

			&:hover{
				opacity: 1;
				box-shadow: 0px 2px 50px 1px rgba(0, 0, 0, 1);
			}

			@include gl(){
				width: 100%;
				height: 100%;
			}
			@include tab(){
				min-width: 20rem
			}
			@include mob(){
				min-width: 10rem;
				margin: 0;
			}
		}
		.About-p{
			position: absolute;
			inset: 0;
			width: 65rem;


			top: 10%;
			left: 30%;
			font-size: $font-size-0;
			font-family: $font-base;
			line-height: 104px;
			margin: 2rem 0 0 0;

			@include gl(){
				width: 55rem;
				font-size: $font-size-0;
				line-height: 72px;
			}

			@include des(){
				top: 50%;
				left: 15%;
				width: 45rem;
				font-size: $font-size-0;
				line-height: 72px;
			}

			@include middle(){
				top: 50%;
				left: 10%;
				width: 40rem;
				font-size: $font-size-0;
				line-height: 72px;
			}

			@include tab(){
				width: 100%;
				top: 100%;
				left: 0;
				font-size: $font-size-3;
				line-height: 50px;	
			}

			@include mob(){
				width: 100%;
				top: 100%;
				left: 0;
				font-size: $font-size-4;
				line-height: 32px;
				margin: 1rem 0 10rem 0 ;
			}

			span{
				font-family: $font-other;
			}
		}
	}

}