.About{
	margin: 10rem 0 0 0;
	

	&-container{
		position: relative;
		padding: 0 40px 0 40px;

		.About-img{
			width: 45rem;
			// filter: grayscale(80%);
			opacity: 0.7;
			transition: all 0.3s ease-in-out;
			border-radius: 1rem;
			// border-radius: 20px;
			box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.164);

			&:hover{
				opacity: 1;
				box-shadow: 0px 2px 50px 1px rgba(0, 0, 0, 1);
			}

		}
		.About-p{
			position: absolute;
			inset: 0;
			width: 60rem;

			top: 10%;
			left: 30%;
			font-size: $font-size-0;
			font-family: $font-base;
			line-height: 104px;
			margin: 2rem 0 0 0;

			span{
				font-family: $font-other;

			}
		}
	}

}