.About{
	margin: 10rem 0 0 0;
	

	&-container{
		position: relative;

		.About-img{
			width: 46rem;
			// filter: grayscale(80%);
			opacity: 0.7;
			transition: all 0.3s ease-in-out;
			// border-radius: 20px;
			box-shadow: 0px 2px 50px 1px rgba(73, 72, 72, 0.7);

			&:hover{
				opacity: 1;
				box-shadow: 0px 2px 50px 1px rgba(73, 72, 72, 1);
			}

		}
		.About-p{
			position: absolute;
			inset: 0;
			width: 65rem;

			top: 10%;
			left: 30%;
			font-size: $font-size-0;
			line-height: 5rem;
			margin: 2rem 0 0 0;

			span{
				font-family: $font-other;

			}
		}
	}

}