.Header{
	display: flex;
	width: 100%;
	position: relative;
	text-align: center;
	font-family: $font-base;
	font-weight: 600;
}

.NavBar{
	position: fixed;
	inset: 0;
	// right: 7%;
	top: 5%;
	width: fit-content;
	height: fit-content;
	z-index: 1;


	display: flex;
	justify-content: center;
	gap: 4.5rem;
	margin: 0rem auto 0 auto;
	z-index: 1;


	padding: 1rem 2rem;
	background: rgba(28, 28, 28, 0.22);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.164);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	// border: 1px solid rgba(28, 28, 28, 0.3);

	@include tab(){
		inset: 0;
		top: 93%;
	}

	&-a{
		color: $base;
		font-size: $font-size-4;
		opacity: 0.5;

		&:hover{
			opacity: 1;
			filter: blur(0px);
			transition: all 0.3s ease-in-out;
		}
	}
}

.Button_Resume{
	position: fixed;
	align-self: flex-end;
	place-items: flex-end;
	right: 7%;
	top: 5%;
	z-index: 0;

	padding: 1rem 2rem;
	background: rgba(28, 28, 28, 0.22);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.164);
	border: 1px solid rgba(28, 28, 28, 0.3);

	&-button{
		color: $base;
		font-size: $font-size-4;
		opacity: 0.5;

		&:hover{
			opacity: 1;
			transition: all 0.3s ease-in-out;
		}
	}

	@include des(){
		right: 7%;
	}
	@include middle(){
		right: 5%;
	}

	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 1;
		background: rgba(28, 28, 28, 0.22);
		box-shadow: 0 4px 20px rgba(233, 11, 11, 0.884);
		filter: blur(50px);

		@include des(){
			display: blur(5px);
		}
	}
}

.Button_Language{
	position: fixed;
	left: 7%;
	top: 5%;
	z-index: 1;
	display: flex;
	gap: 0.3rem;


	padding: 1rem 2rem;
	background: rgba(28, 28, 28, 0.22);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.164);

	span{
		color: $base;
		font-size: $font-size-4;
		opacity: 0.5;
	}

	&-button{
		color: $base;
		font-size: $font-size-4;
		opacity: 0.5;

		&:hover{
			opacity: 1;
			transition: all 0.3s ease-in-out;
		}
	}
}

.active{
	opacity: 1;
}






