.Home{
	height: 100vh;
}

.Logo{
	width: 100%;
	padding: 4.8rem 0 0 0;
	height: 54rem;
	margin: 0 0 0 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	@include mob(){
		height: auto;
	}

	&-img{
		width: 64rem;
	}
	&-before{
		display: flex;
		flex-direction: column;
	}
}

