.ListOfProjects{
	margin: 40rem 0 0 0;

	&-title{
		@include titles()
	}
	&-container{
		display: flex;
		flex-direction: column;
		gap: 10rem;
	}
}

.Project{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 0 1rem 0;
  letter-spacing: 0.2rem;


	&-img{
		width: 50rem;
		// aspect-ratio: 3/2;
		cursor: cell;
		object-fit: contain;
		opacity: 0.7;
		filter: grayscale(100%);

		&:hover{
			opacity: 1;
			filter: grayscale(20%);
			transition: all 0.3s ease-in-out;
		}
	}
	&-content{
		padding: 0;
		margin: 0 0 0 240px;
		width: 40rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 2rem;
		color: $base;
		
		font-family: $font-base-regular;

		line-height: 2.5rem;

		.Project-name{
			font-size: $font-size-2;
			font-family: $font-base;
			line-height: 3rem;
		}
		.Project-description{
			font-size: $font-size-3;
			font-family: $font-other;
			line-height: 3.5rem;
			font-weight: 300;
		}
	}
	&-soft{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		font-family: $font-other;
		font-size: $font-size-5;
	}
	&-links{
		display: flex;
		gap: 5rem;
	}
	&-link{
		@include link(center, 0.5em 1em);

		&:hover{
			background-color: $base;
			color: $primary;
			transition: all 0.3s ease-in-out;
		}
	}	
	&-link--disabled{
		@include link(center, 0.5em 1em);
		text-decoration: line-through;
	}
}

.More_Projects{
	width: 100%;
	padding: 0 2rem;
	margin: 160px 0 0 0;
}

.Projects{
	width: 100%;
	display: flex;
	justify-content: space-between;


	&-h4{
		font-size: $font-size-3;
	}

	&-container--open{
		margin: 5rem 0 0 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	&-container--close{
		display: none;
	}

	&-button{
		border: none;
		cursor: pointer;
		width: 3rem;
		transform: rotate(0deg);
		transition: all 0.5s ease-in-out;
	}

	&-button-open{
		transform: rotate(180deg);
		transition: all 0.5s ease-in-out;
	}

	&_project{
		width: 100%;
		// padding: 0 5rem;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		justify-content: center;
		gap: 5rem;

		span{
			font-size: $font-size-3;
			font-family: $font-base-light;
			align-self: center;
		}

		h4{
			display: inline-block;
			font-size: $font-size-4;
			font-family: $font-base-light;
			align-self: center;
			
		}
		p{
			font-size: $font-size-4;
			font-family: $font-other;
			font-weight: 300;
			align-self: center;
		}
		img{
			cursor: cell;
			opacity: 0.7;
			place-self: flex-end;
			align-self: center;
			filter: grayscale(100%);

			&:hover{
				z-index: 1;
				scale: 2;
				opacity: 1;
				filter: grayscale(20%);
				transition: all 0.4s ease-in-out;
			}
		}
	}

	&_project-description{
		width: 100%;
		display: grid;
		font-family: $font-base-regular;
		color: $base;
		font-size: $font-size-4;
		grid-template-columns: repeat(5, 1fr);
		justify-content: center;
		gap: 5rem;
		margin: 0 0 2rem 0;
		padding: 0 0 2em 0;
		border-bottom: 1px dotted #2c2c2c;
	}

	&_project-buttons{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 1rem;
		align-self: center;
	}

	&_project-link{
		@include link(left, 0.5em 0 0.5em 1em);

		&:hover{
			background-color: $base;
			color: $primary;
			transition: all 0.3s ease-in-out;
		}
	}
}