.ListOfProjects{
	margin: 70rem 0 0 0;

	&-title{
		@include titles()
	}
	&-container{
		display: flex;
		flex-direction: column;
		gap: 4rem;
	}

	@include gl(){
		margin: 50rem 0 0 0;
	}
}

.ListOfProjects--margin{
	margin: 95rem 0 0 0;

	@include gl(){
		margin: 70rem 0 0 0;
	}
}

.Project{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 40px 1rem 40px;

  letter-spacing: 0.2rem;


	@include gl(){
		padding: 20px 0.5rem 20px;
	}

	@include des(){
		padding: 20px 0.3rem 20px;
	}
	


	&-img{
		width: 45rem;
		height: auto;
		cursor: cell;
		object-fit: cover;
		opacity: 0.7;
		filter: grayscale(100%);
		border: solid 10px black;	
		border-radius: 10px;

		&:hover{
			opacity: 1;
			filter: grayscale(20%);
			transition: all 0.3s ease-in-out;
		}

		@include gl(){
			width: 40rem;
			height: auto;
			align-self: center;
			place-items: center;
		}
		@include des(){
			width: 30rem;
			height: auto;
			align-self: center;
		}
	}
	&-content{
		padding: 0;
		margin: 0 0 0 240px;
		width: 40rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 2rem;
		color: $base;
		
		font-family: $font-base-regular;
		line-height: 40px;

		@include gl(){
			margin: 0 0 0 160px ;
		}

		@include des(){
			margin: 2rem 0 0 80px;
		}

		.Project-name{
			font-size: $font-size-2;
			font-family: $font-base;
			line-height: 3rem;
		}
		.Project-description{
			font-size: $font-size-3;
			font-family: $font-other;
			line-height: 40px;
			font-weight: 300;
		}
	}
	&-soft{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		font-family: $font-other;
		font-size: $font-size-4;

	}
	&-links{
		display: flex;
		gap: 5rem;

		@include des(){
			gap: 2rem;
		}
	}
	&-link{
		@include link(center, 0.5em 1em);
		border-radius: 10px;
		border: 1px solid #f2e5d23d;
		color: $base;

		&:hover{
			background-color: $base;
			color: $primary;
			transition: all 0.3s ease-in-out;
		}
	}	
	&-link--disabled{
		@include link(center, 0.5em 1em);
		text-decoration: line-through;
	}
}

.More_Projects{
	width: 100%;
	padding: 0 40px;
	margin: 160px 0 0 0;
}

.Projects{
	width: 100%;
	display: flex;
	justify-content: space-between;


	&-h4{
		font-size: $font-size-3;
	}

	&-container--open{
		margin: 5rem 0 0 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	&-container--close{
		display: none;
	}

	&-button{
		border: none;
		cursor: pointer;
		width: 3rem;
		transform: rotate(0deg);
		transition: all 0.5s ease-in-out;
	}

	&-button-open{
		transform: rotate(180deg);
		transition: all 0.5s ease-in-out;
	}

	&_project{
		width: 100%;
		// padding: 0 5rem;
		display: grid;
		grid-template-columns: 0.25fr 0.5fr 1fr 0.5fr 0.5fr;
		justify-content: center;
		gap: 5rem;

		@include des(){
			display: grid;
			grid-template-columns: 0.25fr 0.5fr 1fr 0.25fr;
		}

		span{
			font-size: $font-size-3;
			font-family: $font-base-light;
			align-self: center;
		}

		h4{
			display: inline-block;
			font-size: $font-size-3;
			font-family: $font-base-light;
			align-self: center;
			line-height: 2rem;
			
		}
		p{
			font-size: $font-size-3;
			font-family: $font-other;
			line-height: 2rem;
			font-weight: 300;
			align-self: center;
		}

		img{
			cursor: cell;
			opacity: 0.7;
			place-self: flex-end;
			align-self: center;
			filter: grayscale(100%);
			object-fit: cover;
			border: solid 2.5px black;
			border-radius: 10px;

			&:hover{
				z-index: 1;
				scale: 2;
				opacity: 1;
				filter: grayscale(20%);
				transition: all 0.4s ease-in-out;
			}

			@include des(){
				display: none;
			}
		}
	}

	&_project-description{
		width: 100%;
		display: grid;
		font-family: $font-base-regular;
		color: $base;
		font-size: $font-size-4;
		grid-template-columns: 0.25fr 0.5fr 1fr 0.5fr 0.5fr;
		justify-content: center;
		gap: 5rem;
		margin: 0 0 2rem 0;
		padding: 0 0 2em 0;
		border-bottom: 1px dotted #2c2c2c;

		@include des(){
			grid-template-columns: 0.25fr 0.5fr 1fr 0.5fr;
			&--display{
				display: none;
			}
		}
	}

	&_project-buttons{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 1rem;
		align-self: center;
	}

	&_project-link{
		@include link(left, 0.7rem 0.1rem);
		text-align: center;
		border-radius: 10px;
		border: 1px solid #f2e5d23d;

		&:hover{
			background-color: $base;
			color: $primary;
			transition: all 0.3s ease-in-out;
		}
	}
}