.Titles-h2{
	@include titles()
}
.Titles-h3{
	font-size: $font-size-title;
	margin: 0 0 2rem 0;
	width: 100%;
	color: $secondary;
	line-height: 7rem;
	font-family: $font-base;

	@include middle(){
		margin: 0 0 0 0;
	}
	@include tab(){
		font-size: $font-size-1;
		line-height: 50px;
	}
	@include mob(){
		margin: 0 0 1rem 0;
		font-size: $font-size-1;
		line-height: 50px;
	}
}
