.Arrow{
	margin: 0 0 0 0;
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;

	&-img{
		width: 3rem;
		height: auto;
		animation: arrow 1s ease-in-out infinite;

		&:hover{
			animation: none;
		}
		@include mob(){
			width: 2rem;
		}
	}

	arrow{
		@keyframes arrow{
			0%{
				transform: translateY(0);
			}
			50%{
				transform: translateY(0.5rem);
			}
			100%{
				transform: translateY(0);
			}
		}
	}
	
}