/* Mixins Flex*/

@mixin flex( $direction, $cut, $just, $align, $gap ) {
	display: flex;
	flex-flow: $direction $cut;
	justify-content: $just;
	align-items: $align;
	gap: $gap;
}

@mixin titles(){
	font-size: $font-size-3;
	color: $secondary;
	font-family: $font-base-regular;
}

@mixin link($align, $padding){
	font-size: $font-size-4;
	font-family: $font-other;
	border: 1px solid $primary;
	padding: $padding;
	// min-width: 12rem;
	text-align: $align;
}

/* Mixins responsive */

@mixin mob( $min : 240px, $max : 480px ){
	@media (min-width: $min) and (max-width: $max) {
			@content; 
	}
}

@mixin tab( $min : 480px, $max : 768px ){
	@media (min-width: $min) and (max-width: $max) {
			@content; 
	}
}

@mixin middle( $min : 768px, $max : 1000px ){
	@media (min-width: $min) and (max-width: $max) {
			@content; 
	}
}

@mixin des( $min : 1000px, $max : 1260px ){
	@media (min-width: $min) and (max-width: $max) {
			@content; 
	}
}

@mixin gl( $min : 1260px, $max : 1629px ){
	@media (min-width: $min) and (max-width: $max) {
			@content; 
	}
}