@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=IBM+Plex+Mono:wght@100;300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,100&family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');


//Imports fonts

@font-face {
  font-family: 'FormularBlack';
  src: url('./media/fonts/formular/Formular-Black.woff') format('woff');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'FormularLight';
  src: url('./media/fonts/formular/Formular-Light.woff') format('woff');
  font-weight: light;
  font-display: swap;
}

@font-face {
  font-family: 'FormularRegular';
  src: url('./media/fonts/formular/Formular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

// @font-face {
//   font-family: 'Maregraphe';
//   src: url('./media/fonts/maregraphe/MaregrapheDisplayRegular.woff') format('woff');
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }





//Fonts
$font-other: 'Belleza', sans-serif;
$font-base:  'FormularBlack', sans-serif;
$font-base-regular: 'FormularRegular', sans-serif;
$font-base-light: 'FormularLight', sans-serif;
// $font-base:  'Garnet', sans-serif;





// 


//Fonts-size
$font-size-title: clamp(2.5em, 5vw, 7.5rem);
$font-size-0: clamp(2.5em, 5vw, 5rem);
$font-size-1: clamp(2em, 5vw, 3.75rem);
$font-size-2: clamp(1.8em, 6vw, 3rem);
$font-size-3: clamp(1.5em, 3vw, 1.875rem);
$font-size-4: clamp(1em, 2vw, 1.5rem);
$font-size-5: clamp(0.8em, 2vw, 1.125rem);



//Colors
$title: #F2F2F2;
$base: #F2E5D2;
$primary: #131313;
$secondary: #EBBB0D;
$tertiary: #B51414; 

